.swiper-background {
    background: linear-gradient(157deg, rgba(145,162,232,1) 0%, rgb(95, 32, 189) 54%, rgba(63,2,152,1) 100%);
    min-height: calc(100vh - 140px);
}

.description {
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 2em;
    color: rgb(227, 241, 255);
}

.swiper {
    margin-top: 5em;
    width: 80%;
    display: flex;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 20px;
}

.sponsor-name {
    padding-bottom: 100px;
}

.swiper-image {
    padding-bottom: 75px;
}