.team-page {
    background: linear-gradient(157deg, rgba(145,162,232,1) 0%, rgb(95, 32, 189) 54%, rgba(63,2,152,1) 100%);
    padding-bottom: 10em;
}

.dept-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 3em;
    padding-bottom: 3em;
    padding-top: 2em;
}

.department {
    margin: auto;
    width: 60%;
    color: rgb(227, 241, 255);
    padding-top: 2em;
}

.member {
    display: flex;
    justify-content: center;
    width: 15em;
    margin: auto;
    max-height: 350px;
}

.description {
    text-align: center;
}