#intro-section {
    background: linear-gradient(157deg, rgba(36,2,87,1) 0%, rgba(63,2,152,1) 52%, rgba(145,162,232,1) 100%);
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-svg {
    display: flex;
    align-items: flex-start;
    width: 35em;
    margin-right: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    color: white;
    font-size: 3em;
}

.description {
    font-size: 1em;
    color: #F6D268;
}

#about-section {
    background: white;
    height: 50em;
    align-items: center;
    justify-content: center;
}

#about-section h1 {
    color:  rgba(63,2,152,1);
    margin-top: 150px;
}

#about-section p {
    font-size: 1em;
}

.left-title {
    justify-content: flex-start;
    align-content: flex-start;
}

.right-title {
    justify-content: flex-end;
    margin-left: 70%;
}

.description {
    max-width: 600px;
}