.faq-heading {
    color: rgb(227, 241, 255);
    font-size: 1.5em;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.faq-arrow {
    color: rgb(227, 241, 255); 
}

.faq {
    border: solid rgb(227, 241, 255) 2px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.5s ease;
}

.faq:hover{
    box-shadow: 0 0 12px rgb(227, 241, 255);
    cursor: pointer;
}

.faqopen .faq-answer {
    width: 90%;
    padding-bottom: 1em;
    transition: all 0.5s ;
    transition-delay: 0.2s;
}

.faq-answer {
    color: rgb(227, 241, 255);
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
    font-size: 1.2em;
    width: 100%;
    margin-left: 1.5em; 
}
