.faq-heading {
    color: rgb(227, 241, 255);
    font-size: 1.5em;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 3em;
    margin: auto;
    align-items: center;
}

.faq-arrow {
    color: rgb(227, 241, 255); 
}

.faq {
    border: solid rgb(227, 241, 255) 2px;
    margin: auto;
    border-radius: 10px;
    height: 5em;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.5s ease;
}

.faq:hover{
    box-shadow: 0 0 12px rgb(227, 241, 255);
    cursor: pointer;
}

.faqopen {
    border-radius: 10px;
    height: 10em;
}

.faqopen .faq-answer {
    opacity: 1;
    max-height: 100%;
    height: 5em;
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
    transition: all 0.5s ;
    transition-delay: 0.2s;
}

.faqopen .faq-answer {
    opacity: 1;
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
    transition: all 0.5s;
    transition-delay: 0.2s;
}
.faqclosed .faq-answer {
    opacity: 0;
}

.faq-answer {
    color: rgb(227, 241, 255);
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
}
