.faq-heading {
    color: rgb(227, 241, 255);
    font-size: 1.5em;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    align-items: center;
}

.faq-arrow {
    color: rgb(227, 241, 255); 
    margin-right: 15px;
}

.faq {
    border: solid rgb(227, 241, 255) 2px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    transition: all 5s ease;
    transition: hover 0.5s;
    min-height: 6em;
}

.faq:hover{
    box-shadow: 0 0 12px rgb(227, 241, 255);
    cursor: pointer;
}

.faq-answer {
    overflow: hidden;
    color: rgb(227, 241, 255);
    margin-bottom: 2em;
    overflow-wrap: break-word;
    font-size: 1.2em;
    max-width: 90%;
    transition: max-height 0.4s ease-in-out;
}

.faq-closed {
    max-height: 0px;
    height: 0px;
    margin: 0px;
    transition: max-height 0.4s ease-in-out;
}

.faq-open {
    max-height: 10em !important;
    transition: max-height 0.4s ease-in-out;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
