.navbar {
  background: #240257;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  margin-top: 0px;
  z-index: 999;
  top: 0;
}

.logo {
  width: 3em;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 95%;
}

.navbar-logo {
  color: rgb(227, 241, 255);
  margin-left: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5em;
  list-style: none;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.nav-links {
  color: rgb(227, 241, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: #F6D268;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1250px) {
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: -19px;
    background: linear-gradient(157deg, rgba(36,2,87,1) 0%, rgba(63,2,152,1) 52%, rgba(145,162,232,1) 100%);
    transition: all 0.5s ease;
    z-index: 1;
    min-width: 200px;
  }


  .nav-links {
    font-size: 1.5rem;
    padding-bottom: 0.05rem;
    text-align: center;
    display: table;
  }

  .menu-icon {
    color: rgb(227, 241, 255);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon:hover {
    color: #F6D268;
  }

}
