.swiper-button-next, .swiper-button-prev {
  text-rendering: auto;
}
.sponsor-subtitle{
  text-align: center;
  padding-bottom: 8%;
}
.swiper-image {
  width: 75%;
  display: flex;
  margin: 0 auto !important;
}
.sponsor-subtitle{
  background-color: none;
  font-size: 50px;
  font-weight: bolder;
}
.sponsor-name {
  color: rgb(227, 241, 255);
  font-size: 2.5em;
  margin-bottom: -1em;
}
.swiper-pagination-bullet {
  background-color: #fd5e53 !important;
  padding: 20px;
}
.swiper-button-next::after, .swiper-button-prev::after  {
  padding: 20px;
  color: rgb(227, 241, 255);
}